<h4>Are you ready to join the movement to divest from fossil fuels?</h4>  

<h3><a href="http://salsa4.salsalabs.com/o/51199/p/dia/action3/common/public/?action_KEY=13597">Take the pledge.</a></h3> 

<h4>Let your voice be heard.</h4>
