<p><a href="https://socialk.com/blog/fossil-free-funds-a-tool-for-seeing-what-you-own/"><img src="/fossil-free/images/ads/Social(k)_FossilFreeWeb.jpg" /></a></p>

<blockquote>
<p>Investors who divest from fossil fuels and invest in climate solutions will drive the energy transition the world must make. And those who move their money early will benefit, unleashing the innovation needed to secure our survival and ensure our prosperity.
<p class="source"><a href="http://www.wsj.com/articles/should-endowments-divest-their-holdings-in-fossil-fuels-1416779351">Ellen Dorsey</a>, executive director of the Wallace Global Fund</p></p>
</blockquote>
