<p>With the climate crisis intensifying, we all need to take a stand to oppose dirty energy and support clean energy alternatives.  One of the most powerful actions we can take is divesting from fossil fuels and reinvesting funds in the clean energy economy.</p>

<div>
<p>The time for action has never been more urgent. We have already surpassed the 2014 record for the <a href="https://www.ncdc.noaa.gov/sotc/global/201505">highest global temperature</a>. Shrinking glaciers, droughts, rising seas, heat waves&mdash;we have more than enough evidence to compel us to act personally and collectively.</p>

<p>The Divest-Invest climate movement is an increasingly powerful force to help achieve the goal of a global clean energy economy. Individuals and institutions—together worth more than $3.4 trillion in assets—have pledged to divest from fossil fuels. More than 500 institutions, including foundations, colleges and universities, pension funds, faith-based organizations, and civil society groups have pledged to divest either in whole or in part from fossil fuels. Already, 46,000 individuals are pledging to divest. You can join this movement too!</p></div>
