<p>As the effects of climate change worsen and more governments move to tax and limit carbon emissions, fossil fuel companies now count as assets will lose their value. Eliminating carbon from your portfolio now will help you avoid future risk from devalued carbon assets.</p>

<p>In the meantime, carbon-free portfolios offer competitive returns. In fact, 2013 research from S&P Capital IQ found that universities with endowment divestment campaigns would have seen greater returns on their investments had they divested from fossil fuels ten years earlier.</p>
