<p>Over time, more and more people have come to understand how our economic decisions and actions have ripple effects throughout society and around the world. How we make profit is as important as how we use profit. Both individuals and institutions need to apply their values to decisions about their investments&mdash;including bank accounts, mutual funds, and stocks and bonds.. Simply put, our concern about climate change needs to be reflected in our financial decisions; our portfolios, no matter what size, should point toward a clean energy future. This is necessary for both the planet and for our long-term economic well-being.</p>

<p>Divestment is growing rapidly. A few recent high-profile examples of climate-related divestment include:</p>

<ul>
<li><p>In June 2015 the California Senate passed legislation requiring the giant CalPRS and CalSTRS state pension funds to divest from coal unless the industry converts to clean energy. Three months later, the California Assembly also passed this legislation. The bill now awaits final approval from the governor.</p></li>
<li><p><a href="http://www.theguardian.com/environment/2015/aug/28/worlds-biggest-coal-port-joins-fossil-fuel-divestment-push">In August 2015</a>, the largest coal port in the world, located in Australia, voted to divest its $270 million portfolio of fossil fuels&mdash;including coal. While the port depends on coal at present, there is growing recognition that a new direction is needed.</p></li>
<li><p><a href="http://www.latimes.com/local/education/la-me-ln-uc-coal-20150909-story.html">In September 2015</a>, the University of California system divested its endowment and pension fund of direct company stock in coal and oil sands in order to address concerns about climate change and the financial risk inherent in those fossil fuel investments. </p></li>
</ul>

<p>The fact that fossil fuels are deeply embedded in the economy cannot be an excuse for inaction. Ever more individual and institutional investors are taking leadership and divesting their portfolios of fossil fuels.</p>
