<p>We can make a US clean-energy economy a reality by refusing to invest in companies that are destroying our planet. We can shift our investment dollars into clean energy and support public policies that move us away from fossil fuels. </p>

<p>Green America is proud to partner with 350.org and the DivestInvest Campaign.  Here&#8217;s how to get a started: </p>

<ol>
<li><p>Divest Your Fossil Fuel Company Holdings: Sell any holdings in the top 200 companies with the most fossil fuel reserves. If you are invested in mutual funds, switch to fossil fuel free funds and urge your fund companies to offer fossil fuel company-free options. To ensure your portfolio remains balanced and geared toward your financial goals, work with a <a href="/fossil-free//2015/09/29/Planners.html">financial planner</a> or <a href="/fossil-free//2015/09/29/Firms.html">asset management firm</a> that understands the importance of fossil fuel company divestment.</p></li>
<li><p>Make Your Banking &amp; Credit Cards Fossil-Free: Many conventional mega-banks invest in fossil fuels. You can bank with a community development bank or credit union that is fossil fuel company-free and that helps local communities prosper. Visit <a href="http://www.BreakUpWithYourMegaBank.org">BreakUpWithYourMegaBank.org</a> for information on switching your accounts. If you use a credit card, be sure it is from a community development credit union that supports people and the planet. Visit <a href="http://www.TakeChargeofYourCard.org">TakeChargeofYourCard.org</a> for information on green credit cards.</p></li>
<li><p>Reinvest in a Clean Energy Future: There are a growing number of investment products that are free of fossil fuel companies and support clean energy investment and efficiency. Use the <a href="#products">list of financial services companies</a> below  to find funds, certificates of deposit, ETFs, and service providers who can help you create a portfolio that meets your needs. Most of the companies are certified members of Green America&#8217;s Green Business Network®.</p></li>
</ol>
