<dl class="steps">
<dt>Divest from Fossil Fuels</dt>

<dd><p>If you directly own stocks in specific companies, you can divest yourself of your fossil fuel holdings just like a municipality or retirement fund would. Simply identify the problematic stocks you no longer wish to own, and sell them. Find the <a href="#worst">ten largest fossil-fuel companies</a> or find the list of the largest 200 at 350.org&#8217;s <a href="http://gofossilfree.org/companies">go fossil free</a>.</p>

<p>Another option is to donate your stock to a nonprofit organization and use your donation as a tax write-off.</p>

<p>But most people don&#8217;t do their own direct investing. If you invest in mutual funds, or a retirement account, you can call your accounts and ask for your money to be directed into fossil-fuel-free investments. If your current investment companies don&#8217;t offer fossil-free options (and most don&#8217;t!) tell them that you are considering divestment, and will move to other investment products that better match your values.</p>

<p><strong>Use the <a href="http://www.fossilfreefunds.org">Fossil Free Funds online tool</a> produced by As You Sow and Morningstar to find out the fossil fuel exposure of your mutual funds.</strong></p>

<p>Divestment can make good financial sense for your portfolio. Over the long term, as the effects of climate change become more apparent, and as more and more governments adopt policies to limit carbon pollution, the carbon resources that fossil fuel companies currently count as assets could shift to liabilities. Studies by numerous analysts, including the London School of Economics, the Aperio Group, HSBC, and Impact Asset Management, demonstrate that fossil fuel companies may be overvalued by as much as 40 to 60 percent. Financial analysts call this overvaluation the &#8220;carbon bubble&#8221; and explain that it could cause similar financial turmoil to previous overvaluations (like the 2007 &#8220;housing bubble&#8221;) when it bursts. Divestment now could protect your assets in the future. But what to do with the money you divest from the fossil fuel companies? Answer: Reinvest in the clean energy future.</p></dd>

<br />
<a href="https://www.self-help.org/personal/accounts/certificates/green-term-certificate?utm_source=GreenAmerica&utm_medium=banner&utm_campaign=GreenCDs"><img src="/fossil-free/images/ads/self-help.jpg" /></a>

<dt>Reinvest in Clean Energy & Fossil Fuel-Free Products</dt>
<dd><p>&#8220;Investing in fossil fuel today seems like investing in the whaling industry in the mid-1800s&mdash;old technology, still dominant, but clearly not the future,&#8221; says John Streur, then-president of Portfolio 21 and now the president/CEO of Calvert Investments. &#8220;Our ability to power the global economy beyond the current age of fossil fuels will be the most important and difficult transformation ever made by our industrial society.&#8221;</p>

<p>Streur points out that global investors like Portfolio 21 can scour international markets for the most stable and forward thinking companies to fill out a responsible portfolio, while excluding companies that are &#8220;emphasizing hydro-fracturing and other forms of oil, gas, and coal production.&#8221;</p>

<p>A handful of companies like Portfolio 21 specifically offer <a href="#products"> broad-based mutual funds that exclude dirty energy companies by policy</a>. You can also find exchange traded funds that focus on clean energy, mutual funds that are less broad based and focus on clean energy, and community development mutual funds that exclude fossil fuels due to their mission to invest in smaller, local sustainable businesses. These investments tend to require minimum investments of around $1,000 to $2,500.</p></dd>

<dt>Invest in Clean Energy for Your Home & Community</dt>

<dd><p>For many people, their most valuable investment is their home. If you don&#8217;t find yourself in a position to invest $50,000 via a financial advisor, you may be able to invest in clean energy for your home, raising the value of your property.</p>

<p>An April 2011 study of California homes by the Electricity Markets and Study Group found that home-owners who had installed a &#8220;relatively new&#8221; and &#8220;average sized&#8221; solar photovoltaic (PV) system on their home recouped an average $17,000 more on the sale of their home, over similar homes without a PV system. As the report explains: &#8220;The research finds strong evidence that homes with PV systems in California have sold for a premium over comparable homes without PV systems.&#8221;</p>

<p>Many states offer tax incentives for improving your property with clean energy. Check <a href="http://www.dsireusa.org">DSIRE</a>, the Database for State Incentives for Renewables & Efficiency for incentives in your state.</p>

<p>And finally, even if you don&#8217;t own a home, or can&#8217;t go solar at home yet, in many areas of the country you can invest in collective purchasing of community based solar projects. Those with very little up-front capital can often buy into solar collectives for the price of a single panel (around $500), and then begin to recoup their money as credits on their utility bill.</p>

<p>At the higher end of the investment continuum, a participant who purchases enough panels to cover a home&#8217;s full energy needs benefits from the collective structure (optimal siting of panels, collective maintenance), and spends less money than on a complete individual at-home system. The investment tends to break even more quickly too, in around 10 to 13 years, versus up to 20 or 30 years on many home-based systems. </p></dd>

<dt>Shift Your Bank Accounts & Credit Cards</dt>

<dd><p>Even if none of the above divestment and reinvestment strategies apply to your current financial situation, you can still take part in the divestment movement.</p>

<p>If you have a bank account, you are an investor, and the money sitting in your checking and savings   accounts serves to advance the interests of your bank.</p>

<p>For example, Bank of America, Citigroup, and JP Morgan Chase have ranked as the top-three financiers of mountain top removal coal mining and coal-fired power plants in the US, according to a report by the Sierra Club, Rainforest Action Network, and BankTrack. In  May 2015, Bank of America announced it would divest from coal projects. If you bank with the other corporate mega-banks, however, you&#8217;re investing in fossil fuels. While activist pressure has ended megabank investment in mountain removal coal mining, these companies are still heavily invested in fossil fuels in general. By contrast, community development banks, with their mission to lift up communities and invest in small, local businesses, can offer you access to checking and savings accounts (and other banking and investing products) that aren&#8217;t tainted by investment in fossil fuels.</p>

<p>Find better banks at Green America&#8217;s <a href="http://breakupwithyourmegabank.org">breakupwithyourmegabank.org</a>, and find credit cards from community development banks at <a href="http://takechargeofyourcard.org">takechargeofyourcard.org</a>.</p></dd>

<dt>Support Institutional Divestment Movements</dt>

<dd><p>&#8220;The fossil fuel divestment movement is the apartheid of this generation,&#8221; says Michael Kramer of Natural Investment. &#8220;Climate change impacts the entire planet and is a direct threat to our survival ...The more people who clamor for divestment, the more likely that elected officials will listen.&#8221;<p>

<p>Individual divestment is an important first step. And when we work together to convince more and larger institutions join the divestment movement, it will be even harder for fossil fuel companies to ignore their stigmatization as an industry fueling the destruction of the planet.</p></dd>
</dl>

<p><a href="http://www.SRIconference.com"><img src="/fossil-free/images/ads/SRIC16.jpg" /></a></p>
