<div class="article-intro">
<p>Divesting sends a clear message: fossil fuels are toxic to people and the planet, therefore they are toxic to our portfolios.  Divestment forces CEOs and politicians to take notice because it signals the severity of an issue.</p>

<p>So why divest from fossil fuels?</p>
</div>

<h3>Five Reasons to Divest</h3>

<p><dl class="steps">
<dt>Align Your Investments With Your Values</dt>
<dd>&#8220;If it&#8217;s wrong to wreck the climate,&#8221; says 350.org founder Bill McKibben, &#8220;then it&#8217;s wrong to profit from that wreckage.&#8221; When you divest from fossil fuel companies, you align your investment criteria with the green values you put into practice in other areas of your life.</dd></p>

<p><dt>Reduce Your Exposure to Climate Risks</dt>
<dd>Studies by numerous analysts, including the London School of Economics, the Aperio Group, HSBC, and Impact Asset Management, demonstrate that fossil fuel companies may be overvalued by as much as 40 to 60 percent. Divestment from fossil fuel companies can help protect your portfolio from the potential future &#8220;carbon bubble.&#8221; (&#8220;Carbon bubble&#8221; refers to the over-valuation of fossil fuel companies. If we are successful at keeping their carbon product in the ground, then they will be unable to access the reserves on which their value is based.)</dd></p>

<p><dt>Name and Shame the Worst Companies</dt>
<dd>In <a href="http://www.smithschool.ox.ac.uk/research-programmes/stranded-assets/SAP-divestment-report-final.pdf" class="citation">Stranded Assets and the Fossil Fuel Divestment Campaign</a>, an October 2013 report by the University of Oxford, the authors pointed out that the stigmatization of divestment targets has always been one of the key factors triggering social change.</dd></p>

<p><dt><a href="http://signforgood.com/divest-invest/?code=GA">Join a Growing Movement</a></dt>
<dd>More than 400 institutions and thousands of individuals have made commitments to divest in whole or in part. When you divest, you&#8217;re joining one of the most critical progressive movements of our time.</dd></p>

<p><dt>Everyone Can Take Part</dt>
<dd>If you have a bank account, you are an investor. Everyone can move their money from banks that support fossil-fuel companies to banks with a community development focus.
Find better banks and credit cards at Green America&#8217;s <a href="http://breakupwithyourmegabank.org">Break Up with Your Mega Bank</a>, and find <a href="#products" class="local">fossil-free investing resources</a>.</dd>
</dd></p>
