<ol>
<li><p>Gazprom</p></li>
<li><p>Rosneft</p></li>
<li><p>PetroChina</p></li>
<li><p>ExxonMobil</p></li>
<li><p>Lukoil</p></li>
<li><p>BP</p></li>
<li><p>Petrobras</p></li>
<li><p>Royal Dutch Shell</p></li>
<li><p>Chevron</p></li>
<li><p>Novatek</p></li>
</ol>

<p class="source"><a href="http://fossilfreeindexes.com/research/the-carbon-underground/">The Carbon Underground 2015</a></p>
