<ol>
<li><p>Coal India</p></li>
<li><p>China Shenhua</p></li>
<li><p>Adani</p></li>
<li><p>Shanxi Coking</p></li>
<li><p>Anglo American</p></li>
<li><p>BHP Billiton</p></li>
<li><p>Yitai Coal</p></li>
<li><p>Datang Intl.</p></li>
<li><p>China Coal</p></li>
<li><p>Peabody Energy</p></li>
</ol>

<p class="source"><a href="http://fossilfreeindexes.com/research/the-carbon-underground/">The Carbon Underground 2015</a></p>
